<app-navbar></app-navbar>

<section class="page-section bg-light" id="portfolio">
    <div class="container">
        <div class="text-center">
            <h2 class="m-lg-5 text-uppercase">BIENVENIDO A ESTA PÁGINA</h2>
            <div class="m-lg-5">
                <p>Regístrate para ver más imágenes</p>
            </div>
        </div>
        <div class="row justify-content-center">

            <div class="col-lg-6 col-sm-6 mb-4 mb-sm-0">
                <div>
                    <img class="img-fluid" src="../../../assets/images/foto1.jpg" alt="..." />
                    <div>
                        <p>Sur</p>
                        <p>Diseño web</p>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-6 col-sm-6 mb-4 mb-sm-0">
                <div>
                    <img class="img-fluid" src="../../../assets/images/foto2.jpg" alt="..." />
                    <div>
                        <p>Forest</p>
                        <p>Fotografía</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
